/* 
COLORS:#f6e9e9; rgb(238, 236, 236); #888; #616161 #363333;   #272121; rgba(0, 0, 0, 0.4);  #161515; 
 #e16428; pink;
*/

/* RESET THE BOX-SIZING  */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* Top 3 for sticky Footer */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #363333;
	color: #f6e9e9;
}

/* Heading area */
#header {
	background-color: #272121;
	color: #f6e9e9;
	text-align: center;
}

#user-input-container {
	display: block;
	text-align: center;
}

#user-input {
	height: 36px;
}

#movie-title {
	text-align: center;
}

#poster-place {
	height: 300px;
	width: auto;
}

#myBtn {
	width: 195.22px;
}

button {
	background-color: #e16428;
	color: #1f74b6;
	border: 1px solid #1f74b6;
}


/* MOVIE SEARCH RESULT DISPLAY */

.movie-display-container {
	margin: 5px auto;
	padding: 0;
}

div#movie-item:nth-of-type(4n+1) {
	margin: 0;
}

#movie-item img, 
#selected-movie
 {
	width: 100%;
}


/* MODAL STYLING STARTS  */

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #161515;
	color: white;
	margin: 5px; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

#modal-movie-title {
	color: #e16428;
}

/* The Close Button */
.close {
	color: rgb(238, 236, 236);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #e16428;
	text-decoration: none;
	cursor: pointer;
}

#movie-poster {
	display: block;
	float: left;
	padding-right: 90px;
	padding-left: 15px;
	padding-top: 15px;
}

#modal-info {
	margin: 0px 0px 0px 0px;
	padding-left: 45px;
	padding-top: 15px;
	/* border: solid 1px pink; */
	/* background-color: #363333; */
	background-color: #161515; 
	/* border-radius: 15px; */
}

#modal-box {
	margin-left: 0px;
	margin-right: 0px;
}

p {
	margin: 0px 0px 0px 0px;
	padding-bottom: 12px;
	font-size: 14px;
}

#info-tags {
	margin-left: 0px;
	margin-right: 0px;
}

#plot {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	font-weight: bold;
	color: #e16428;
}

#plot-div {
	padding-left: 15px;
}

/* MODAL STYLINE ENDS HERE  */

/* Sticky Footer Styling */
main {
	flex: 1 0 auto;
	margin: 0 10px;
}

.copyright {
	color: #888;
	text-align: center;
}




/* Media query Only for larger Screen size  */
@media (min-width: 960px) {
	#movie-display #movie-item .movie-card {
		height: 390px;
	}

	#movie-display #movie-item img {
		height: 240px;
	}

}
